*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#b7d2e5, #dbbdc0, #f5d996, #917262, #917262, #513a2f, #3a2316);
    cursor: url("Elements/cursor.png"), auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
    scale: 30%;
    width: 50px;
    height: auto;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: url("Elements/droplet.png"), auto;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
    display: inline-block;
    position: relative;
}

header ul li a {
    display: block;
    text-decoration: none;
    padding: 6px 15px;
    color: #fbdcfe;
    background-color: #3a3a3a;
    border-radius: 25px;
    text-align: center;
}

header ul li ul.dropdown li {
    display: inline-block;
    transform: translateX(-7px);
}

header ul li ul.dropdown {
    display: none;
    background-color: #3a3a3a;
    color: white;
    width: auto;
    left: 145px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 999;
    border-radius: 0px;
    justify-content: right;
}

header ul li:hover ul.dropdown {
    display: block;
    align-items: center;
}

header ul li a:hover, header ul li a.active {
    background: white;
    color: black;
    cursor: url("Elements/droplet.png"), auto;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    transform: translateY(30px);
    background: linear-gradient(to top, #917262, #8d8e62, transparent);
    z-index: 800;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

section img#clouds {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

section img#meadows_front {
    z-index: 10;
}

@font-face {
    font-family: myFont;
    src: url(editorial.otf);
}

section #text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    top: 120px;
    left: 28%;
    text-align: center;
    font-family: myFont;
    font-weight: bold;
}

section #button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 80px;
    background: #dbbdc0;
    color: white;
    font-size: 3em;
    font-style: italic;
    position: absolute;
    z-index: 1000;
    box-shadow: 5px 15px 50px #505050;
    cursor: url("Elements/droplet.png"), auto;
}

div section {
    height: 80vh;
    position: relative;
}

section img#seed {
    position: absolute;
    scale: 30%;
    width: 100%;
    z-index: 10000;
    cursor: url("Elements/droplet.png"), auto;
}

.flower-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.lastpetal {
    position: absolute;
    max-height: 100%;
    transform: translateY(-1000px);
    left: 670px;
    scale: 80%;
    z-index: 900;
    cursor: url("Elements/droplet.png"), auto;
}

.petal4 {
    position: absolute;
    max-height: 100%;
    transform: translateY(-1000px);
    left: 530px;
    scale: 80%;
    z-index: 1000;
    cursor: url("Elements/droplet.png"), auto;
}

.petal5 {
    position: absolute;
    max-height: 100%;
    transform: translateY(-1040px);
    left: 470px;
    scale: 80%;
    z-index: 1000;
    cursor: url("Elements/droplet.png"), auto;
}

.petal6 {
    position: absolute;
    max-height: 100%;
    transform: translateY(-1100px);
    left: 420px;
    scale: 80%;
    z-index: 1000;
    cursor: url("Elements/droplet.png"), auto;
}

.petal7 {
    position: absolute;
    max-height: 100%;
    transform: translateY(-1270px);
    left: 490px;
    scale: 80%;
    z-index: 1000;
    cursor: url("Elements/droplet.png"), auto;
}

.petal8 {
    position: absolute;
    max-height: 100%;
    transform: translateY(-1350px);
    left: 620px;
    scale: 80%;
    z-index: 1000;
    cursor: url("Elements/droplet.png"), auto;
}

.petal9 {
    position: absolute;
    max-height: 100%;
    transform: translateY(-1320px);
    left: 720px;
    scale: 80%;
    z-index: 1000;
    cursor: url("Elements/droplet.png"), auto;
}

.petal10 {
    position: absolute;
    max-height: 100%;
    transform: translateY(-1170px);
    left: 710px;
    scale: 80%;
    z-index: 1000;
    cursor: url("Elements/droplet.png"), auto;
}

.petal11 {
    position: absolute;
    max-height: 100%;
    transform: translateY(-1030px);
    left: 740px;
    scale: 80%;
    z-index: 1000;
    cursor: url("Elements/droplet.png"), auto;
}

.petal12 {
    position: absolute;
    max-height: 100%;
    transform: translateY(-1000px);
    left: 740px;
    scale: 80%;
    z-index: 1000;
    cursor: url("Elements/droplet.png"), auto;
}

.flower {
    position: absolute;
    max-height: 100%;
    transform: translateY(-1300px);
    left: 575px;
    scale: 80%;
    z-index: 1000;
}

.hidbutton {
    position: absolute;
    max-height: 100%;
    top: 0;
    transform: translateY(260px);
    left: 740px;
    scale: 280%;
    z-index: 10000;
    padding: 5px 5px 5px 5px;
    border-radius: 50px;
    cursor: url("Elements/droplet.png"), auto;
}

.hidbutton #button {
    text-decoration: none;
    line-height: 0.9;
    font-style: italic;
    color: white;
}

.rain {
    position: relative;
    transform: translateX(-650px);
    display: flex;
    z-index: 100;
    padding: 0 20px;
}

.rain span {
    position: relative;
    width: 30px;
    height: 30px;
    background: lightblue;
    margin: 0 2px;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform-origin: bottom;
}

@keyframes animate {
    0% {
        transform: translateY(0) scale(1);
    }
    70% {
        transform: translateY(298px) scale(1);
    }
    100% {
        transform: translateY(298px) scale(0);
    }
}

@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        border: none;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 90px;
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 10000;
    }

    body {
        flex-direction: column;
    }
}