/*some parts of this code is adapted from the channel Online Tutorials on YouTube https://www.youtube.com/watch?v=tthIRPzN61Y*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: linear-gradient(#b7d2e5, #dbbdc0, #f5d996);
    height: 100%;
    width: 100%;
    cursor: url("Elements/cursor.png"), auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
    scale: 30%;
    width: 50px;
    height: auto;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: url("Elements/droplet.png"), auto;
}

header .tag {
    position: absolute;
    top: 32px;
    left: 150px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
    display: inline-block;
    position: relative;
}

header ul li a {
    display: block;
    text-decoration: none;
    padding: 6px 15px;
    color: #fbdcfe;
    background-color: #3a3a3a;
    border-radius: 25px;
    text-align: center;
}

header ul li ul.dropdown li {
    display: inline-block;
    transform: translateX(-7px);
}

header ul li ul.dropdown {
    display: none;
    background-color: #3a3a3a;
    color: white;
    width: auto;
    left: 145px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 999;
    border-radius: 0px;
    justify-content: right;
}

header ul li:hover ul.dropdown {
    display: block;
    align-items: center;
}

header ul li a:hover, header ul li a.active {
    background: white;
    color: black;
    cursor: url("Elements/droplet.png"), auto;
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: absolute;
    inset: 80px 200px 80px 80px;
    background-color: #ccc;
    border-radius: 20px;
}

.slider .slides {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background: var(background-image);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
    background-size: cover;
}

.slider .slides:nth-child(3) {
    left: calc(50% + 240px);
    background-size: cover;
}

.slider .slides:nth-child(4) {
    left: calc(50% + 500px);
    background-size: cover;
}

.slider .slides:nth-child(5) {
    left: calc(50% + 760px);
    background-size: cover;
}

.slider .slides:nth-child(6) {
    left: calc(50% + 1020px);
    background-size: cover;
    opacity: 0;
}

.buttons {
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;
}

.buttons span {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.buttons span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(315deg) translate(2px, 2px);
}

.buttons span:nth-child(2)::before {
    transform: rotate(135deg) translate(2px, 2px);
}

.buttons span:active {
    opacity: 0.5;
}

.content {
    position: relative;
    padding: 40px;
    max-width: 600px;
    transform: 0.25s;
    transition-delay: 0s;
    transform: translateY(40px);
    z-index: 10000;
    opacity: 0;
    background: #fbdcfe;
    box-shadow: 20px 30px 80px #3a3a3a;
}

.content h2 {
    font-size: 2em;
    text-transform: uppercase;
    color: black;
}

.content p {
    color: black;
}

.content button{
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background: #ADD8E6;
    cursor: url("Elements/droplet.png"), auto;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}

@media (max-width: 900px) {
    *header {
        display: flex;
        flex-direction: column;
    }
    
    .slider {
        position: absolute;
        inset: 40px 40px 200px 40px;
    }

    .slider .slides {
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }

    .slider .slides:nth-child(1),
    .slider .slides:nth-child(2) {
        top: initial;
        bottom: 0px;
    }

    .slider .slides:nth-child(3) {
        left: 0;
    }

    .slider .slides:nth-child(4) {
        left: 120px;
    }

    .slider .slides:nth-child(5) {
        left: 240px;
    }

    .slider .slides:nth-child(6) {
        left: 360px;
    }
}